
<p></p>
<div class="listing">
  <h2>List of Doctors</h2>
  <div>
  <%= link_to "New Doctor", new_doctor_path, method: :get, class: 'btn btn-primary' %>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Practicing from</th>
      <th>Qualification number</th>
      <th>Employment</th>
      <th>Actions</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @doctors %>
  </tbody>
</table>